<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AE.Net.Mail" version="1.7.10.0" targetFramework="net472" />
  <package id="DynamicLanguageRuntime" version="1.2.2" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.12" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="4.5.1" targetFramework="net472" />
</packages>